.container {
  position: relative;
  cursor: pointer;
  z-index: -1;
  width: fit-content;
}

.dropdown-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  border: solid 0.9px #bec2c8;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(86, 86, 86, 0.2);
}

.button-text{
  display: flex;
}
.button-text span:first-child{
  margin-right: 5px;
}

.box-unit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 3px;
}

.box-unit:first-child{
  margin-bottom: 12px;
}

.select-tags{
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 2px #aaa;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.box{
  background-color: white !important;
  border-radius: 8px;
  z-index: 999; 
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  padding: 1.25rem;
  background-color: lightgrey;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 3px 1px rgba(86, 86, 86, 0.2);
}

.title-drop-down{
  color: #6e7279;
  font-weight: 600;
  font-size: 0.85rem;
}
